.logoAndCat {
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
}
.drowp-down-custm {
  left: auto !important;
}
a {
  color: #747579 !important;
}
ul li a:hover {
color:#0d6efd !important;
}
a.navResp-custm {
  cursor: pointer;
}
@media (max-width: 1250px) {
  a.navResp-custm {
    font-size: 85% !important;
  }
}
@media (max-width: 1200px) {
  .media-set {
    flex-direction: column;
  }
  .log-port {
    text-align: center;
  }
  .drowp-down-custm {
    top: auto !important;
  }
}
@media (max-width: 331px) {
  .mediaCustm-sm {
    margin: 0 auto;
  }
}
.hero-sec{
    margin-top: 6% !important;
}
.fill-warning {
  fill: #f7c32e;
  width: 300px;
  height: 60.1px;
}

@media (max-width:770px){
  .hero-sec{
    margin-top: 6rem !important;
  }
  .fill-warning{
    width:16rem ;
    height:110px ;
  }
  h1.font-sizeMedia{
    font-size: 2.1rem !important;
  }
}
/* @media (max-width:330px){
  .imag-hero{
  overflow: hidden;
  }
} */
.custm-position {
  z-index: -1 !important;

}
.display-6 {
  font-weight: 700 !important;
  font-size: 3.6rem !important;
}
.hero-custm{
        background: url(https://eduport.webestica.com/assets/images/pattern/01.png) no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;

        right: 7%;
        width: 12rem;
        height: 6.5rem;
        
    }
    .hero-mainSvg{
      z-index: -1;
      width:550px;
       height:538px;
      
      fill: #066ac9;
    }
    .bg-blur{
      backdrop-filter: blur(5px);
    }
    .f-size{
font-size: 13px;
    }
    .custm-align{
      top: 73%;
    }
    .avatar-group > li:not(:last-child) {
      margin-right: -0.8rem;
    }
    .avatar-imag{
      width: 2.5rem !important;
      height: 2.5rem !important;
    }

.bg-custm {
  background-color: rgba(6, 106, 201, 0.1);
  border-radius: 0.625rem;
}
.avatar-img {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.item-show-hover {
  display: none;
  visibility: hidden;
}

.item-show:hover .item-show-hover {
  display: block;
  visibility: visible;
}

/* @media (max-width:450px){
  .course-custmMain{
margin: 0 2rem !important;
  }

} */

.zindex{
  z-index: 1030;
}
.page-content {
  margin-left: 16.25rem;
}
.navbar-brand-item {
  height: 36px;
  display: block;
  width: auto;}
  .offcanvas {
    position: relative;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
/* 
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
} */

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}