.logoAndCat {
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
}
.drowp-down-custm {
  left: auto !important;
}
a {
  color: #747579 !important;
}
ul li a:hover {
color:#0d6efd !important;
}
a.navResp-custm {
  cursor: pointer;
}
@media (max-width: 1250px) {
  a.navResp-custm {
    font-size: 85% !important;
  }
}
@media (max-width: 1200px) {
  .media-set {
    flex-direction: column;
  }
  .log-port {
    text-align: center;
  }
  .drowp-down-custm {
    top: auto !important;
  }
}
@media (max-width: 331px) {
  .mediaCustm-sm {
    margin: 0 auto;
  }
}
.hero-sec{
    margin-top: 6% !important;
}
.fill-warning {
  fill: #f7c32e;
  width: 300px;
  height: 60.1px;
}

@media (max-width:770px){
  .hero-sec{
    margin-top: 6rem !important;
  }
  .fill-warning{
    width:16rem ;
    height:110px ;
  }
  h1.font-sizeMedia{
    font-size: 2.1rem !important;
  }
}
@media (max-width:330px){
  .imag-hero{
  overflow: hidden;
  }
}
.custm-position {
  z-index: -1 !important;

}
.display-6 {
  font-weight: 700 !important;
  font-size: 3.6rem !important;
}
.hero-custm{
        background: url(https://eduport.webestica.com/assets/images/pattern/01.png) no-repeat center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;

        right: 7%;
        width: 12rem;
        height: 6.5rem;
        
    }
    .hero-mainSvg{
      z-index: -1;
      top: 20%;
      fill: #066ac9;
    }
    .bg-blur{
      backdrop-filter: blur(5px);
    }
    .f-size{
font-size: 13px;
    }
    .custm-align{
      top: 73%;
    }
    .avatar-group > li:not(:last-child) {
      margin-right: -0.8rem;
    }
    .avatar-imag{
      width: 2.5rem !important;
      height: 2.5rem !important;
    }

.bg-custm {
  background-color: rgba(6, 106, 201, 0.1);
  border-radius: 0.625rem;
}
.avatar-img {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.item-show-hover {
  display: none;
  visibility: hidden;
}

.item-show:hover .item-show-hover {
  display: block;
  visibility: visible;
}

/* @media (max-width:450px){
  .course-custmMain{
margin: 0 2rem !important;
  }

} */

